name: TDR Run Backend Checks Results Tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
permissions:
  id-token: write
  contents: read
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@5d4fee21ed08f053613a7706e28623c0adc0f5f4 # v.0.0.10
    with:
      repo-name: tdr-backend-checks-results
      test-command: |
        pip install -r requirements-test.txt
        pip install pyopenssl --upgrade
        python -m pytest
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          
